<p>header works!</p>
<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>            
                <mat-icon class="tt" fxLayoutGap="30px">
                    local_shipping
                </mat-icon>&nbsp;           
            <strong>Flipkart</strong>
                  <mat-form-field appearance="outline"   >
                    <mat-label>Search Product</mat-label>
                    <input  matInput type="text" placeholder="Search Product">
                    <mat-icon matSuffix class="search">search</mat-icon>
                  </mat-form-field>                  
            <span class="example-spacer"></span>
            <button mat-icon-button>
              <mat-icon>add_shopping_cart</mat-icon>
            </button>            
          </mat-toolbar-row>
    </mat-toolbar>
<header>