<p>products works!</p>
<div>
    <mat-card>
        <mat-card-title fxLayoutAlign="center center">
            <h1>Products</h1>
        </mat-card-title>
        <mat-card-subtitle fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <div class="text">
                    <a>
                        <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRL8HAMbUPwavJZ8dm9aTfLfI-uG-3aVe2kw&usqp=CAU">
                        <h3>All Products</h3>
                    </a>
                </div>
                <div class="text">
                    <a>
                        <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1BbLydaDLI8Qo2EV5XA_KCgvXmgGT6U91tg&usqp=CAU">
                        <h3>Eletronics</h3>
                    </a>
                </div>
                <div class="text">
                    <a>
                        <img class="img" src="https://www.denimjeansobserver.com/mag/designer-denim-jeans-fashion/2015-2016/prefall/brands-d/diesel-black-gold-2015-pre-fall-autumn-fashion-mens-womens-brit-punk-rock-leather-metal-studs-biker-moto-grommets-knit-parka-pinstripe-shirtdress-06x.jpg">
                        <h3>Fashions</h3>
                    </a>
                </div>
                <div class="text">
                    <a >
                        <img class="img" src="https://pyxis.nymag.com/v1/imgs/c7b/d78/d67ae6835178fb539b83293d63820007f5-16-fine-jewelry-market-opener.2x.rsquare.w536.jpg">
                        <h3>Jowelry</h3>
                    </a>
                </div>
        </mat-card-subtitle>
        <mat-card-content>
            <mat-grid-list fxLayoutGap="20px" cols="6" rowHeight="300px">
                <mat-grid-tile>
                    <a >
                        <img src="https://static.turbosquid.com/Preview/001199/694/GI/3D-gift-box-red_Z.jpg" >
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>2
                    <a >
                        <img src="https://static.turbosquid.com/Preview/001199/694/GI/3D-gift-box-red_Z.jpg" >
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>3
                    <a >
                        <img src="https://static.turbosquid.com/Preview/001199/694/GI/3D-gift-box-red_Z.jpg" >
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>4
                    <a >
                        <img src="https://static.turbosquid.com/Preview/001199/694/GI/3D-gift-box-red_Z.jpg" >
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>4
                    <a >
                        <img src="https://static.turbosquid.com/Preview/001199/694/GI/3D-gift-box-red_Z.jpg" >
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>4
                    <a >
                        <img src="https://static.turbosquid.com/Preview/001199/694/GI/3D-gift-box-red_Z.jpg" >
                    </a>
                </mat-grid-tile>
              </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>