.img {
    width: 120px;
    height: 120px;
    transition: 0.3s ease-in-out;
}
.text  {
    text-align: center;
   
}

a:hover {
   color: blue;  
}
.img:hover {
    width: 150px;
    height: 150px;
}